@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Helperland.Models
@model Helperland.Models.ServiceRequest

@{ 
    double time = Convert.ToDouble(@Model.ServiceHours + @Model.ExtraHours);

    var extras = Model.Extra.ToString("D5");
    var array = extras.ToCharArray();
    var extraservice = " ";

    if (array[0] == '1')
    {

        extraservice += "Inside cabinets, ";
    }
    if (array[1] == '1')
    {

        extraservice += "Inside fridge, ";
    }
    if (array[2] == '1')
    {
        extraservice += "Inside oven, ";
    }
    if (array[3] == '1')
    {
        extraservice += "Laundry wash & dry, ";
    }
    if (array[4] == '1')
    {
        extraservice += "Interioir window, ";
    }
}

<div class="modal fade" id="ServiceDetailes" tabindex="-1" role="dialog" aria-labelledby="ServiceDetailes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service Detailes</h5>
                <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 15px;">
                <div class="row">
                    <div class="col-12">
                        <h6>@Model.ServiceStartDate.ToString("dd/MM/yyyy")  &nbsp; @Model.ServiceStartDate.ToString("HH:mm") - @Model.ServiceStartDate.AddHours(time).ToString("HH:mm")</h6>
                        <div><strong>Duration : </strong>@Model.SubTotal</div>
                        <hr class="hr-line">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div><strong>Service Id : </strong>@Model.ServiceRequestId</div>
                        <div><strong>Extras : </strong>@extraservice</div>
                        <div><strong>Net Amount : </strong><p class="text-center payment-service-history">@Model.TotalCost</p></div>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="row">
                    <div class="col-12">
                        <div><strong>Service Address : </strong>@Model.AddressLine2 , @Model.AddressLine1</div>
                        <div><strong>Billing Address : </strong>Same as address</div>
                        <div><strong>Phone : </strong>@Model.Mobile</div>
                        <div><strong>Email : </strong>@Model.Email</div>
                    </div>
                </div>

                <hr class="hr-line">
                <div class="row">
                    <div class="col-12">
                        <strong>Do you want to tell your helper somthing?</strong><br>
                        @if (@Model.HasPets == true)
                        {
                            <div>
                                <img src="~/images/right-sign.jpg" /> I have pets at home
                            </div>
                        }
                        else
                        {
                            <div>
                                <img src="~/images/cross-sign.jpg" /> I don't 'have pets at home
                            </div>
                        }
                    </div>
                </div>
                <hr class="hr-line">
                @if (@Model.ServiceStartDate.AddHours(time) < DateTime.Now)
                {
                    <button type="button" class="btn btn-reschedule-cancel">Expired</button>
                }
                else if (Model.Status == 3)
                {
                    <button type="button" class="btn btn-reschedule" data-id="@Model.ServiceRequestId" onclick="schedule(this)">Reschedule</button>

                    <button type="button" class="btn btn-reschedule-cancel" data-id="@Model.ServiceRequestId" onclick="cancelservicemodel(this)">Cancel</button>
                }
                else if(Model.Status == 1)
                {
                    <button type="button" class="btn btn-rate-service-history" data-id="@Model.ServiceRequestId" onclick="ratingmodal(this)">Rate SP</button>
                }
            </div>
        </div>
    </div>
</div>