@{
    List<ServiceRequest> service = null;
    if (ViewBag.services != null)
    {
        service = ViewBag.services;
    }
}
@using Helperland.Models;

<div id="dashboard" class="container tab-pane active" >
    <div class="heading-service-history mb-3">
        Dashboard
        <button type="button" class="btn btn-export-service-history">Export</button>
    </div>
    <!-- </div> -->
    <table class="table" id="datatable1">
        <thead class="table-header-upcoming-services">
            <tr>
                <th scope="col">Service Id <img src="../images\sort.png" alt=""></th>
                <th scope="col">Service Date <img src="../images\sort.png" alt=""></th>
                <th scope="col">Service Provider <img src="../images\sort.png" alt=""> </th>
                <th scope="col">Payment <img src="../images\sort.png" alt=""></th>
                <th scope="col">Actions <img src="../images\sort.png" alt=""></th>
            </tr>
        </thead>
        <tbody class="tbody-upcoming-services">
            @foreach (ServiceRequest dbs in service)
            {
                double time = Convert.ToDouble(dbs.ServiceHours + dbs.ExtraHours);

                <tr>
                    <td>
                        <button class="blank-button text-center ml-5" data-bs-toggle="modal" data-id="@dbs.ServiceRequestId" onclick="detailes(this)" data-bs-target="#ServiceDetailes">@dbs.ServiceRequestId</button>
                        
                    </td>
                    <td scope="row" class="th-upcoming-service">
                        <button class="blank-button" data-toggle="modal" data-target="#ServiceDetailes" data-id="@dbs.ServiceRequestId" onclick="detailes(this)">
                            <img src="../images\calendar2.png" alt="">
                            @dbs.ServiceStartDate.ToString("dd/MM/yyyy")
                            <br />
                            <img src="../images\layer-712.png" alt="">
                            @dbs.ServiceStartDate.ToString("HH:mm") - @dbs.ServiceStartDate.AddHours(time).ToString("HH:mm")
                        </button>
                    </td>
                    <td>
                            <div class="row">
                                <div class="col-3">
                                    <img src="../images\cap.png" alt="" class="history-cap">
                                </div>
                                <div class="col-9">
                                    @dbs.FirstName<br>
                                    <img src="../images\yellow-small-star.png" alt="">
                                    <img src="../images\yellow-small-star.png" alt="">
                                    <img src="../images\yellow-small-star.png" alt="">
                                    <img src="../images\grey-small-star.png" alt="">
                                    <img src="../images\grey-small-star.png" alt="">
                                    3
                                </div>
                            </div>

                    </td>

                    <td>
                        <p class="payment-service-history">€ @dbs.TotalCost</p>
                    </td>
                    <td>
                        <div class="row">
                            <!-- Rescedule button Modal-->
                            <button type="button" class="btn btn-reschedule" data-bs-toggle="modal" data-id="@dbs.ServiceRequestId" onclick="schedule(this)" data-target="#Reschedule">Reschedule</button>
                            
                            <!-- Cancel Button model -->
                            <button type="button" class="btn btn-reschedule-cancel" data-bs-toggle="modal" data-bs-target="#cancel-request" data-id="@dbs.ServiceRequestId" onclick="cancelservicemodel(this)">Cancel</button>
                            

                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">


    