
@{
    List<ServiceRequest> service = null;
    if (ViewBag.services != null)
    {
        service = ViewBag.services;
    }
}
@using Helperland.Models;

<div id="servicehistory" class="container tab-pane active">
    <div class="heading-service-history mt-3">
        Service History
        <button type="button" class="btn btn-export-service-history" onclick="ExportToExcel('xlsx')">Export</button>
    </div>
    <!-- </div> -->
    <table class="table" id="datatable3">
        <thead class="table-header-upcoming-services">
            <tr>
                <th scope="col">Service ID <img src="../../images\sort.png" alt=""></th>
                <th scope="col">Service Date <img src="../../images\sort.png" alt=""></th>
                <th scope="col">Customer Details <img src="../../images\sort.png" alt=""> </th>
            </tr>
        </thead>
        <tbody class="tbody-upcoming-services">
            @foreach (ServiceRequest dbs in service)
            {
                double time = Convert.ToDouble(dbs.ServiceHours + dbs.ExtraHours);
                <tr>
                    <td>
                        <button class="blank-button" data-id="@dbs.ServiceRequestId" onclick="detailes(this)">@dbs.ServiceRequestId</button>
                    </td>
                    <td scope="row" class="th-upcoming-service">
                        <img src="../images\calendar2.png" alt="">
                        @dbs.ServiceStartDate.ToString("dd/MM/yyyy")
                        <br>
                        <img src="../images\layer-712.png" alt="">
                        @dbs.ServiceStartDate.ToString("HH:mm") - @dbs.ServiceStartDate.AddHours(time).ToString("HH:mm")
                    </td>
                    <td>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-1 mt-3">
                                    <img src="../../images/layer-15.png" alt="">
                                </div>
                                <div class="col-md-11">
                                    <div>@dbs.Name</div>
                                    <div>@dbs.AddressLine1 , @dbs.AddressLine2</div>
                                    @dbs.City , @dbs.ZipCode
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
           

        </tbody>
    </table>

</div>