@using Helperland.Models
@model Helperland.Models.User
@{
    List<ServiceRequest> service = null;
    service = ViewBag.services;
}


<div>
    <div class="row pt-4 mb-2">
        <div class="col-md-8">
            <h4 class="pl-4" style="display: inline;">User Request</h4>
        </div>
        <div class="col-md-4">
            <button class="add-new-user-btn justify-content-end">
                <img src="../images/add.png" alt="" style="padding-right: 7px;">
                Add New User
            </button>
        </div>
    </div>
    <div id="accordionFlushExample">
        <div class="accordion-item mt-3">
            <div id="flush-collapseOne" class="mt-4 mb-4">
                <div class="container">
                    <form class="form-inline form1">
                        <div class="form-group">
                            <input type="number" class="form-control form2-request-history" id="ServiceID"
                                   placeholder="Service ID">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form2" placeholder="User Name" id="username" style="width: 120px ;">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form2" placeholder="Service Provider Name" id="spname" style="width: 120px ;">

                        <div class="form-group">
                            <select class="form-select form2-request-history" id="status">
                                <option> Select Status</option>
                                <option value="4">New</option>
                                <option value="1">Completed</option>
                                <option value="3">Pending</option>
                                <option value="2">Cancle</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="Date" class="form-control form2-request-history" id="startdate" placeholder="From Date">
                        </div>
                        <div class="form-group">
                            <input type="Date" class="form-control form2-request-history" id="enddate" placeholder="To Date">
                        </div>

                        <button type="button" class="user-search-btn" onclick="searchrequest()">Search</button>
                        <button class="user-clear-btn">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Admin Service Request-Serch user-->
    <!-- Admin Service Request-table for user managment-->
    
    <div class="table-user-management">
        <table class="table" id="datatable1">
            <thead class="table-header-admin-usermanagement">
                <tr>
                    <th scope="col"> Service ID <img src="../images\sort.png" alt=""></th>
                    <th scope="col">Service Date <img src="../images\sort.png" alt=""> </th>
                    <th scope="col"> Cutomer Details <img src="../images\sort.png" alt=""></th>
                    <th scope="col"> Service Provider <img src="../images\sort.png" alt=""> </th>
                    <th scope="col"> Net Amount <img src="../images\sort.png" alt=""> </th>
                    <th scope="col"> Status <img src="../images\sort.png" alt=""></th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody class="tbody-user-management">
                @foreach (ServiceRequest dbs in service)
                {
                    double time = Convert.ToDouble(dbs.ServiceHours + dbs.ExtraHours);

                    <tr style="border-bottom: 0.5px solid #c5c5c5">
                        <th scope="row" class="th-upcoming-service" style="padding-left:50px;">@dbs.ServiceRequestId</th>
                        <td>
                            <img src="../images\calendar2.png" alt="">
                            @dbs.ServiceStartDate.ToString("dd/MM/yyyy")<br>
                            <img src="../images\layer-712.png" alt="">
                            @dbs.ServiceStartDate.ToString("HH:mm") - @dbs.ServiceStartDate.AddHours(time).ToString("HH:mm")
                        </td>
                        <td>
                            <img src="../images\layer-719.png" alt="">
                            @dbs.UserName  <br /> 
                            @dbs.AddressLine1 , @dbs.AddressLine2 <br />
                            @dbs.City , @dbs.ZipCode
                        </td>
                        <td>
                            @if (@dbs.Name != null)
                            {
                                <div class="row">
                                    <div class="col-3">
                                        <img src="../images\cap.png" alt="" class="history-cap">
                                    </div>
                                    <div class="col-9">
                                        @dbs.Name<br>
                                        @{
                                            int totalstars = Convert.ToInt32(dbs.ratings);
                                            int stars = 5 - totalstars;
                                            for (int i = 1; i <= totalstars; i++)
                                            {
                                                <span class="star">
                                                    <img src="../images/yellow-small-star.png" alt="">
                                                </span>
                                            }
                                            for (int j = 1; j <= stars; j++)
                                            {
                                                <span class="star">
                                                    <img src="../images/star2.png" alt="">
                                                </span>
                                            }
                                        }
                                        @dbs.ratings

                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            € @dbs.TotalCost
                        </td>
                        <td>
                            @if (dbs.Status == 1)
                            {
                                <button type="button" class="active-btn" style="width: 72px;"> Completed</button>
                            }
                            else if (dbs.Status == 2)
                            {
                                <button type="button" class="active-btn" style="background-color: #ff6b6b; width: 72px;"> Canceled </button>
                            }
                            else if (dbs.Status == 3)
                            {
                                <button type="button" class="active-btn" style="background-color: #1fb6ff; width: 72px;"> Pending</button>
                            }
                            else if (dbs.Status == 4)
                            {
                                <button type="button" class="active-btn" style="background-color: #f2bb37;"> New</button>

                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn threedots" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="../images/group-38.png" alt="" style="margin-top: -10px;">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background: white;">
                                    @if (dbs.Status != 1)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="#" style="color: #646464;" onclick="editservice(this);" data-id="@dbs.ServiceRequestId">Edit & Reschedule </a>
                                        </li>
                                    }
                                    <li>
                                        <a class="dropdown-item" href="#" style="color: #646464;"  onclick="cancelSP(this);" data-id="@dbs.ServiceRequestId">Cancel SR by Cust</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" style="color: #646464;">History Log</a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@*<button type="button" class="active-btn" style="background-color: #f2bb37;">New</button>

<button type="button" class="active-btn" style="background-color: #1fb6ff; width: 72px;">Pending</button>

<button type="button" class="active-btn" style="width: 72px;">Completed</button>

<button type="button" class="active-btn" style="background-color: #ff6b6b; width: 72px;"> Cancle </button>*@